@model WebUI.Models.StatisticsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="boxes row">
        <div class="box col-3">
            <div class="value">@Model.CategoryCount</div>
            <div class="title">Toplam kategori sayisi</div>
        </div>
        <div class="box col-3">
            <div class="value">
                @Model.HeadingsByYazilimCategory
            </div>
            <div class="title">Başlık tablosunda "yazılım" kategorisine ait başlık sayısı</div>
        </div>
        <div class="box col-3">
            <div class="value">@Model.WritersContainA</div>
            <div class="title">Yazar adında 'a' harfi geçen yazar sayısı</div>
        </div>
        <div class="box col-3">
            <div class="value">@Model.CategoryHasMostHeading.Name</div>
            <div class="title"> En fazla başlığa sahip kategori adı</div>
        </div>
        <div class="box col-3">
            <div class="value">@Model.DifferenceBetweenStatus</div>
            <div class="title"> Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</div>
        </div>
    </div>
     
</div>

